.cell-list {
  margin: 0 25px 50vh;
}

.react-draggable-transparent-selection .cell-list {
  margin-bottom: 100vh;
}

.save-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.save-container .saveBtn {
  width: 95%;
}

.document-name-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
