.cell-list {
  margin: 0 25px 50vh;
  position: relative;
}

.react-draggable-transparent-selection .cell-list {
  margin-bottom: 100vh;
}

.display-inline-block {
  display: inline-block;
}

.save-container {
  margin-left: 10px;
}

.move-up {
  top: -10px;
}

.save-margin {
  margin: 10px 0px 0px 25px;
}

.hide {
  display: none;
}

.document-name-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
